@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$orange: #FDA45B;
$light-orange: #FFB87E;
$blue:#5E9EB7;
$green:#5DBCA4;

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	color:#717171;
}
h1 {
	color: $green;
	font-weight: 300;
	margin: 0;
	text-transform: uppercase;

}
a {
	color:$orange;
	&:hover {
		text-decoration:none;
		color: darken($orange, 20%);
	}
}
.fa-plus-square-o{
	margin-right:5px;
}


label{
	display: inline-block;
  	max-width: 100%;
  	margin-top: 15px;
  	font-size: 20px;
  	color: $green;
  	font-weight: 300;
}
input {
	border-radius:5px;
	padding: 5px;
}
textarea{
width: 350px;
  border-radius: 5px;
  height: 100px;
  padding: 5px;
}
.container-fluid {
	margin-top:70px;
}
.col-md-6 {
	img {
		margin:10px auto;
		border-radius: 5px;
		box-shadow: 0 0 5px #ddd;
		border: 5px solid #fff;
	}
}
.recipe_header {
	box-shadow: 0 0 5px #ddd;
 	padding: 20px;
  	display: inline-block;
  	max-width: 800px;
  	img {
  		border-radius: 5px;
		box-shadow: 0 0 5px #ddd;
		border: 5px solid #fff;
	}
  	.title {
  		margin:10px 20px; 
  		display: inline-block;
  		vertical-align: top;
  		max-width:400px;
	  	
		p {
			margin: 0;
		}
	}	
}

.recipe_details {
	box-shadow: 0 0 5px #ddd;
  	margin-top:20px;
	padding: 20px;
	max-width:785px;
	h2 {
		color:$green;
		font-weight: 300;
		font-size: 20px;
		margin:20px 0px 5px;
	}
	p, ul {
    		list-style-type: none;
    		margin: 0;
    		padding: 0;
	}
	.ingrediants{
		display: inline-block;
		width: 250px

	}
	.directions {
		display: inline-block;
		max-width: 400px;
		vertical-align: top;
	}	
}
.links, .actions {
	margin-top:20px;
	a {
  		padding: 0 7px 0 0;
  		color: $orange;
  		text-decoration: none;
  		border-radius: 5px;
  		&:hover{
  			color: darken($orange, 20%);
  		}
	}
	input {
		color: #fff;
  		background: $green;
  		border-radius: 5px;
  		border: none;
  		padding: 7px;
  		&:hover {
  			background: lighten($green, 20%)
  		}
  	}
}
.navbar-default{
	background:$orange;
	.navbar-brand  { 
		color: #fff;
	  	font-weight: 700;
	  	font-size: 30px;
	  	&:hover, &:focus {
	  		color: #fff;
	  	}	
	}


	.add_new { 
		float: right;
			padding: 15px 0 0 0;
		a {
			color: #fff;
		  	text-decoration: none;
		  	border-radius: 5px;
			background: $green;
			padding: 10px;
			&:hover{
  			background: lighten($green, 20%);
  		}
		}
	}
}
.recipes {
	ul {
		list-style: none;
		font-size: 0px;
		margin-left: -2.5%; /* should match li left margin */

		}
		ul, li {
		display: inline-block;
		font-weight: 300;
		padding: 10px;
		margin: 0 0 2.5% 2.5%;
		background: #fff;
		font-size:13px;
		vertical-align: top;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;

		}
		li {
			box-shadow: 0 0 5px #ddd;
		}
		a {
			color: $green;
			font-weight: 300;
			font-size: 16px;
			line-height: 10px;
			text-decoration: none;
			line-height: 20px;
		}
	}
	
		

	@media (max-width: 480px) {
		ul.grid-nav li {
			display: block;
			margin: 0 0 5px;
		}
		ul.grid-nav li a {
			display: block;
		}
		.phones {
			ul {
				margin-left: 0;
			}
			ul, li {
				width: 100% !important; 
				margin: 0 -15px 20px;
			}
		}	
	}
.nested-fields {
	.fa-times {
		margin-left:5px;
		color:#717171;
		&:hover{
			color:$orange;
		}
	}
	input {
		margin-top: 10px;
	}
}
.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
	color: #fff;
  	background: $green;
  	&:hover {
  		color: #fff;
  		background: lighten($green, 20%)	
  	}
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}	

