<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
        	<%= link_to 'Recipes', root_path, class: 'navbar-brand' %>
		</div>

		<div class="collapse navbar-collapse navbar-ex1-collapse add_new">
 			<%= link_to 'Add Recipe', new_recipe_path %> 
        </div>


    </div>
</nav>





